/* Google Font Nanum Gothic */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: rgb(210, 210, 210);
    
}

header,
footer {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 70px;
    font-family: 'Nanum Gothic', sans-serif;
}


.header {
    top: 0;
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: #ffffff;
    font-size: 20px;
}



.footer {
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #5f6a68;
    color: #ffffff;
    font-size: 20px;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: rgb(176, 176, 176);
    border: 2px solid rgb(48, 47, 55);
    border-radius: 20px;
    padding: 5px 10px;
    font-family: 'Nanum Gothic', sans-serif;

}

.btn:hover {
    border-color: rgb(255, 0, 0);
    background-color: rgb(176, 176, 176);

}


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 10px, 20px;
    background-color: rgb(176, 176, 176);
    border: 2px solid rgb(48, 47, 55);
    border-radius: 20px;
    padding: 5px 10px;
    
}

.next-btn {
    font-size: 30px;
    font-weight: bold;
    padding: 10px, 20px;
    background-color: rgb(176, 176, 176);
    border: 2px solid rgb(48, 47, 55);
    border-radius: 20px;
    padding: 5px 10px;
    
}

.hide {
    display: none;
}

#questions {
    display: flex;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
}

#category {
    display: flex;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
}

#difficulty {
    display: flex;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
}
/* 
body.correct {
    background-color: green;
}

body.wrong {
    background-color: red;
}

.btn.correct {
    background-color: green;
}


.btn.wrong {
    background-color: red;
} */

/* .forum_hover { background-color: rgb(176, 176, 176); } */